body {
    margin:0px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}



section {
    background: rgb(183, 219, 240);
    max-width: 600px;
    margin: 8px auto;
    padding: 10px;
    border-radius:8px;


}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

button {
    padding: 10px 15px;
    background-color: #03618d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004999;
}

footer {
    background-color: #222;
    color: white;
    text-align: left;
    padding: 10px;
}



.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #000000;
  color: #f4f4f4;
}

/* Equal sections */
.left, .center, .right {
  flex: 1;
}

/* LEFT: horizontal split */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

/* SVG fixed width */
.logo-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logo-icon svg {
  width: 100%;
  height: 100%;
  
}

/* Center name */
.center {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

/* Right menu */
.right {
  text-align:center;
  padding-right: 20px;
}
.logo-icon svg circle {
  fill: rgb(135, 116, 243);
}
